<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="31220.UWP" Publisher="CN=F896680C-C8B3-4C5F-918F-392FC6C4E06A" Version="1.1.1.0" />
  <mp:PhoneIdentity PhoneProductId="d76dd2dc-894a-48a7-b01e-569438e57fa9" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>豆瓣小组UWP</DisplayName>
    <PublisherDisplayName>烟灰灰</PublisherDisplayName>
    <Logo>Assets\logo-50.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="DoubanGroup.Client.App">
      <uap:VisualElements DisplayName="豆瓣小组UWP" Square150x150Logo="assets\logo-150.png" Square44x44Logo="Assets\logo-44.png" Description="这是一个独一无二的网络社区" BackgroundColor="#FFFFFF">
        <uap:DefaultTile Square71x71Logo="Assets\logo-71.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\splash.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>